# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.rar

# Build outputs
build/
_internal/
dist/
*.spec

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

test/

#DLL
*.dll
*.ndll

#EXE
*.exe